@CHARSET "UTF-8";
div.out
{
top:50px;
width: 95%;
height:95%;
  margin: 30px auto;
  padding: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
background: #ffffff;
}

div.in
{
position:absolute;
left:500px;
top:2px;
width: 50%;
  margin: 30px auto;
  padding: 40px;
  border: solid grey 0px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}

div.main
{
position:absolute;
left:100px;
top:170px;
height:70%;
width: 60%;
  margin: 30px auto;
  padding: 40px;
  border:1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
         

}

div.right
{
position:absolute;
left:835px;
top:170px;
width: 25%;
height:70%;
  margin: 30px auto;
  padding: 40px;
   border:1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
overflow:scroll;
}


.horizontaldivider
{
border: 0;
height: 0;
border-top: 1px solid rgba(0, 0, 0, 0.1);
border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.verticaldivider
{
    position:absolute;
    left:43%;
    top:10%;
    bottom:80%;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

body {
   background: url("<?php echo base_url('public_html/cssmenu/menu_source/images/androidbg.jpg')?>") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

body {

    background-color: #fff;

    margin: 30px;

    font-family: Lucida Grande, Verdana, Sans-serif;

    font-size: 14px;

    color: #4F5155;

    }



    a {

    color: #003399;

    background-color: transparent;

    font-weight: normal;

    }



    h1 {

    color: #444;

    background-color: transparent;

    border-bottom: 1px solid #D0D0D0;

    font-size: 16px;

    font-weight: bold;

    margin: 24px 0 2px 0;

    padding: 5px 0 6px 0;

    }



    code {

    font-family: Monaco, Verdana, Sans-serif;

    font-size: 12px;

    background-color: #f9f9f9;

    border: 1px solid #D0D0D0;

    color: #002166;

    display: block;

    margin: 14px 0 14px 0;

    padding: 12px 10px 12px 10px;

    }